@model UniversityNews_aNewTry.Models.News

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}

<h2>Details</h2>

<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NewsUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewsUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PictureUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PictureUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OriginalDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OriginalDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublishDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPublished)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPublished)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UniversityName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UniversityName)
        </dd>
    </dl>
</div>
<div>
    @if (Model.UniversityName == "BUAA")
    {
        <a asp-action="EditBUAA">Back to List</a>
    }
    else if (Model.UniversityName == "PKU")
    {
        <a asp-action="EditPKU">Back to List</a>
    }
    else if (Model.UniversityName == "RUC")
    {
        <a asp-action="EditRUC">Back to List</a>
    }
    else if (Model.UniversityName == "THU")
    {
        <a asp-action="EditTHU">Back to List</a>
    }
</div>
