@model IEnumerable<UniversityNews_aNewTry.Models.News>

@{
    ViewData["Title"] = "管理页";
    Layout = "_AdminLayout";
}

<h2>@ViewData["UniName"]</h2>

<div>
    <table class="table" width="100%"  style="table-layout:fixed;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.NewsUrl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PictureUrl)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.OriginalDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PublishDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsPublished)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.NewsUrl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PictureUrl)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.OriginalDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublishDate)
                    </td>
                    <td>
                        @if (item.IsPublished ?? false)
                        {
                            @:是
                        }
                        else
                        {
                            @:否
                        }
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Title">查看详情</a>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-primary pull-right"
                           asp-action="Publish" asp-route-id="@item.Title">
                            @if (item.IsPublished ?? false)
                            {
                                @:撤回
                             }
                            else
                            {
                                @:发布
                            }
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>