@model List<News>
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";

    var BUAAList = Model.Where(n => n.UniversityName == "BUAA");
    var THUList = Model.Where(n => n.UniversityName == "THU");
    var PKUList = Model.Where(n => n.UniversityName == "PKU");
    var RUCList = Model.Where(n => n.UniversityName == "RUC");
    int rowCtrl;
    const int itemsPerRow = 3;
}

<div class="date_form">
    <div style="height: 100px">

    </div>
    <form asp-action="Index" role="form">
        <div class="form-group" style="color:black; margin-left:60px">
            <label for="date"><font size="6">Date</font></label>
            <input type="date" name="dt" />
            <input type="submit" value="Submit" />
        </div>
    </form>
</div>

<section id="buaa">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9">
                <div id="buaa-carousel" class="carousel slide" data-interval="false">
                    @*<h2 class="heading">BUAA News</h2>*@
                    <img class="UniLogo" src="~/images/mainPage/buaa_logo.jpg" />
                    @*<a class="buaa-control-left" href="#buaa-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                        <a class="buaa-control-right" href="#buaa-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>*@
                    <div class="carousel-inner">
                        <div class="item active">
                            @*<div class="row">
                                    @foreach (var item in BUAAList)
                                    {
                                        <div class="col-md-4">
                                            <div class="single-buaa">
                                                <img class="img-responsive" src="@item.PictureUrl" alt="event-image">
                                                <a href="@item.NewsUrl"><h4>@item.Title</h4></a>
                                            </div>
                                        </div>
                                    }
                                </div>*@
                            @{
                                rowCtrl = 0;
                            }
                            @foreach (var item in BUAAList)
                            {
                                if (rowCtrl % itemsPerRow == 0)
                                {
                                    @:<div class="row">
                                    }
                                <div class="col-md-4">
                                    <div class="single-buaa">
                                        <img class="img-responsive" src="@item.PictureUrl" alt="event-image">
                                        <a href="@item.NewsUrl"><h4>@item.Title</h4></a>
                                    </div>
                                </div>
                                if (rowCtrl % itemsPerRow == itemsPerRow - 1)
                                {
                                    @:</div>
                                    }
                                rowCtrl++;
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--/#thu-->
<section id="thu">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9">
                <div id="thu-carousel" class="carousel slide" data-interval="false">
                    @*<h2 class="heading">THU News</h2>*@
                    <img class="UniLogo" src="~/images/mainPage/thu_logo.png" />
                    <div class="carousel-inner">
                        <div class="item active">
                            @*<div class="row">
                                    @foreach (var item in THUList)
                                    {
                                        <div class="col-md-4">
                                            <div class="single-buaa">
                                                <img class="img-responsive" src="@item.PictureUrl" alt="event-image">
                                                <a href="@item.NewsUrl"><h4>@item.Title</h4></a>
                                            </div>
                                        </div>
                                    }
                                </div>*@
                            @{
                                rowCtrl = 0;
                            }
                            @foreach (var item in THUList)
                            {
                                if (rowCtrl % itemsPerRow == 0)
                                {
                                    @:<div class="row">
                                    }
                                <div class="col-md-4">
                                    <div class="single-buaa">
                                        <img class="img-responsive" src="@item.PictureUrl" alt="event-image">
                                        <a href="@item.NewsUrl"><h4>@item.Title</h4></a>
                                    </div>
                                </div>
                                if (rowCtrl % itemsPerRow == itemsPerRow - 1)
                                {
                                    @:</div>
                                    }
                                rowCtrl++;
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--/#ruc-->
<section id="ruc">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9">
                <div id="ruc-carousel" class="carousel slide" data-interval="false">
                    @*<h2 class="heading">RUC News</h2>*@
                    <img class="UniLogo" src="~/images/mainPage/ruc_logo.png" />
                    <div class="carousel-inner">
                        <div class="item active">
                            @*<div class="row">
                                    @foreach (var item in RUCList)
                                    {
                                        <div class="col-md-4">
                                            <div class="single-buaa">
                                                <img class="img-responsive" src="@item.PictureUrl" alt="event-image">
                                                <a href="@item.NewsUrl"><h4>@item.Title</h4></a>
                                            </div>
                                        </div>
                                    }
                                </div>*@
                            @{
                                rowCtrl = 0;
                            }
                            @foreach (var item in RUCList)
                            {
                                if (rowCtrl % itemsPerRow == 0)
                                {
                                    @:<div class="row">
                                    }
                                <div class="col-md-4">
                                    <div class="single-buaa">
                                        <img class="img-responsive" src="@item.PictureUrl" alt="event-image">
                                        <a href="@item.NewsUrl"><h4>@item.Title</h4></a>
                                    </div>
                                </div>
                                if (rowCtrl % itemsPerRow == itemsPerRow - 1)
                                {
                                    @:</div>
                                    }
                                rowCtrl++;
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<!--/#pku-->
<section id="pku">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9">
                <div id="pku-carousel" class="carousel slide" data-interval="false">
                    @*<h2 class="heading">PKU News</h2>*@
                    <img class="UniLogo" src="~/images/mainPage/pku_logo.png" />
                    <div class="carousel-inner">
                        <div class="item active">
                            @*<div class="row">
                                    @foreach (var item in PKUList)
                                    {
                                        <div class="col-md-4">
                                            <div class="single-buaa">
                                                <img class="img-responsive" src="@item.PictureUrl" alt="event-image">
                                                <a href="@item.NewsUrl"><h4>@item.Title</h4></a>
                                            </div>
                                        </div>
                                    }
                                </div>*@
                            @{
                                rowCtrl = 0;
                            }
                            @foreach (var item in PKUList)
                            {
                                if (rowCtrl % itemsPerRow == 0)
                                {
                                    @:<div class="row">
                                    }
                                <div class="col-md-4">
                                    <div class="single-buaa">
                                        <img class="img-responsive" src="@item.PictureUrl" alt="event-image">
                                        <a href="@item.NewsUrl"><h4>@item.Title</h4></a>
                                    </div>
                                </div>
                                if (rowCtrl % itemsPerRow == itemsPerRow - 1)
                                {
                                    @:</div>
                                    }
                                rowCtrl++;
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



